philosophers
libft
.DS_Store
bin/*.o
src/a.out.dSYM/Contents/Info.plist
src/a.out.dSYM/Contents/Resources/DWARF/a.out
philo
philo.dSYM/Contents/Info.plist
src/a.out
src/test.c
.gitignore
src/tests.c
.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/launch.json
file.c
